{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Activated</title>
                    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'mainApp/css/activate.css' %}" rel="stylesheet">
    <style>
    .frist {
        background-image: url("{% static 'mainApp/img/email.jpg' %}");
    }  
    </style> 
</head>
<body class="container">
    <div class="frist"></div>
    <div class="sec">
        <h1>Your Account is not activated</h1>
        <p>You Should active your account through the 
            activation 
            link
            that has been sent to your email
            Please check your email inbox and follow the
            instructions to activate your account.
            <br/>
            Or if you didn't have an account should register first through this link
            <br/>
            <span class="arrow">
                <a href="{% url 'user_create_form' %}">Register</a>
            </span>
        </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
